@import '../css/zeronis.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

@font-face {
    font-family: 'Futura';
    font-weight: 100;
    src: url("../fonts/Futura-Light.ttf");
}

@font-face {
    font-family: 'Futura';
    font-weight: 500;
    src: url("../fonts/Futura-Regular.ttf");
}

@font-face {
    font-family: 'Futura';
    font-weight: 900;
    src: url("../fonts/Futura-Bold.ttf");
}